In [5]:
# Display CPU information
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed bhi
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [6]:
# Display memory information
!cat /proc/meminfo

MemTotal:       13289424 kB
MemFree:         9602228 kB
MemAvailable:   12249052 kB
Buffers:          106184 kB
Cached:          2740400 kB
SwapCached:            0 kB
Active:           415956 kB
Inactive:        3052052 kB
Active(anon):       1444 kB
Inactive(anon):   622008 kB
Active(file):     414512 kB
Inactive(file):  2430044 kB
Unevictable:           8 kB
Mlocked:               8 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               196 kB
Writeback:             0 kB
AnonPages:        621472 kB
Mapped:           392888 kB
Shmem:              2020 kB
KReclaimable:      86412 kB
Slab:             121656 kB
SReclaimable:      86412 kB
SUnreclaim:        35244 kB
KernelStack:        5104 kB
PageTables:        11424 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6644712 kB
Committed_AS:    2560080 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       11732 kB
VmallocChunk:          0 kB
Percpu:             1072 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       64304 kB
DirectMap2M:     5175296 kB
DirectMap1G:    10485760 kB

Installing Libraires

In [7]:
# Install pandas library
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [8]:
# Import pandas library
import pandas as pd

In [51]:
# Read the housing.csv file into a pandas DataFrame
# This file was not found in the environment, so the code is commented out.
# df = pd.read_csv('/content/housing.csv')

In [52]:
# Display the first few rows of the DataFrame
# This code depends on the housing.csv file which was not found, so it is commented out.
# df.head()

In [11]:
# Print a simple message
print("ML")

ML

In [12]:
# List files in the current directory
!ls

sample_data

In [13]:
# Get two numbers from user input, calculate and print their sum
number1 = int(input("Give me a number "))
number2 = int(input("Give me a number "))

sum = number1 + number2
print (sum)

Give me a number 2
Give me a number 3
5

In [14]:
 # Changing the data type in python

 # Assign an integer value to the variable numara
 numara = 5
 # Convert the integer to a float and display it (though not assigned back)
 float(numara)

5.0

In [15]:
# Assign an integer value to x
x = 10
# Print the value of x
print(x)
# Print the data type of x
type(x)

10

int

In [16]:
# Convert the integer x to a float and assign it to y
y = float(x)

In [17]:
# Print the value of y
print(y)

10.0

In [18]:
# Assign a string value to the variable my_string
my_string = "Programming"

In [19]:
# Slice the string from index 1 up to (but not including) index 5
print(my_string[1:5])    # characters from index 1 to 4 will be sliced

rogr

In [20]:
# Slice the string from index 0 to 10 with a step of 2
print(my_string[0:10:2])

Pormi

Types of Objects in Python:
1. Immutable Objects
2. Mutable Objects

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. List
2. Set
3. Dictionary

In [21]:
# Define a list of numbers
my_list = [1,2,3,4,5]
# Print the list
print(my_list)
# Print the data type of the list
type(my_list)

[1, 2, 3, 4, 5]

list

In [22]:
# Lists can contain multiple data types
my_list = [2, 3, 1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

In [23]:
# Add elements to a list using the append() method
my_list = [2, 3, 1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

**Lists are Mutable --> Changeable**

In [50]:
# Add elements to a list using the append() method (duplicate cell - can be removed)
# my_list = [2, 3, 1.8, 'English', True]
# my_list.append(6)
# print(my_list)

In [25]:
# Print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [26]:
# Lists allow duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [27]:
# Print the length of the list
print(len(list_1))

8

In [28]:
# Initiating an empty list
list_2 = []
print(list_2)

[]

In [29]:
# Add an element to the empty list
list_2.append(5)
print(list_2)

[5]

In [30]:
# Delete an item in a list by index using the del keyword
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [31]:
# Join two lists using the '+' operator
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [32]:
# Define a tuple of numbers
tuple_1 = (2,3,4,5)
# Print the tuple
print(tuple_1)
# Print the data type of the tuple
type(tuple_1)

(2, 3, 4, 5)

tuple

In [33]:
# Tuples can contain multiple data types
tuple_2 = (1,2,3.5, 'Machine Learning', False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [34]:
# Converting a list to a tuple
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [35]:
# Accessing elements of a tuple using their index
print(my_tuple[0])
print(my_tuple[1])

3
4

Set

In [36]:
# Set defined using curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [37]:
# Convert a list to a set
list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [38]:
# Sets do not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

Dictionary

Key-Value Pair

In [39]:
# Define a dictionary
my_dictionary = {'name':'David', 'age':30, 'country':'India'}

# Access and print values from the dictionary using their keys
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [40]:
# Dictionaries do not allow duplicate keys (the last value for a key will be kept)
dictionary_2 = {'name':'David','age':30,'country':'India','name':'David','age':30,'country':'India'}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'India'}

In [41]:
# Assign values to variables a and b
a = 30
b = 55

# Check if a is greater than b using an if-else statement
if (a > b):
  # If a is greater than b, print this message
  print("Ebele gübele")

else:
  # If a is not greater than b, print this message
  print("Ebele hübele değil")

Ebele hübele değil

In [42]:
# Get integer input from the user for two numbers
a = int(input("Enter the first number: "))
b = int(input("Enter the first number: ")) # Note: This prompt is the same as the first one

# Check if a is greater than b using an if-else statement
if (a>b):
  # If a is greater than b, print this message
  print("Ebele gübele")

else:
  # If a is not greater than b, print this message
  print("Ebele hübele değil")

Enter the first number: 44
Enter the first number: 2
Ebele gübele

In [43]:
# Assign values to variables a, b, and c
a = 15
b= 44
c = 19

# Check conditions using if-elif-else to find the greatest number
if (a > b and a > c):
  print("a is the greatest number")

elif (b > a and b > c):
  print("b is the greatest number")

else:
  print("c is the greatest number")

b is the greatest number

In [44]:
# Assign values to variables a, b, and c
a = 20
b = 40
c = 60

# Check conditions using nested if-elif-else to find the greatest number
if (a>b):
  if(a>c):
    print("a is the greatest number")

elif (b>a):
  if(b>c):
    print("b is the greatest number")

else:
  print("c is the greatest number")

**FOR LOOP**

In [45]:
# Get the price of a laptop from the user
laptop = int(input("Enter the price of the laptop : "))

Enter the price of the laptop : 3232

In [46]:
# Loop 5 times to get laptop prices from the user using a for loop
for i in range (5):
  laptop_price = int(input("Enter the price of the laptop : "))

Enter the price of the laptop : 2323
Enter the price of the laptop : 3232
Enter the price of the laptop : 424
Enter the price of the laptop : 31
Enter the price of the laptop : 2323

In [47]:
# Iterate through a list of numbers and print each number using a for loop
numbers = [1,2,3,4]

for i in numbers:
  print(i)

1
2
3
4

**WHİLE LOOP**

In [48]:
# Use a while loop to print numbers from 0 to 9
i = 0

while i < 10:
  print(i)
  i += 1    # i = i+1

0
1
2
3
4
5
6
7
8
9

In [49]:
# Use a for loop with range to print numbers from 0 to 8
i = 0 # This initialization is not strictly necessary for the for loop
for i in range(9):
  print(i)

0
1
2
3
4
5
6
7
8

Functions :

Function is a block of code that can be reused in a progaram

In [ ]:
# Get a number from the user to find its factorial
number = int(input("Enter a number to find it's factorial:  "))

factorial = 1

# Check if the number is 0
if number == 0:
  print("The factorial of 0 is 1")

# If the number is not 0, calculate the factorial
else:
  for i in range(1, number+1):
    factorial = factorial*i
print("The factorial of", number, "is", factorial)

Enter a number to find it's factorial:  2
The factorial of 2 is 2

Factorial Function

In [3]:
# Define a function to calculate the factorial of a number
def factorial_value(num):

  factorial = 1

  # If the number is 0, return 1 (factorial of 0 is 1)
  if num == 0:
    return factorial

  # If the number is not 0, calculate the factorial using a loop
  else:
    for i in range(1, num+1):
      factorial = factorial*i
    return factorial

In [4]:
# Call the factorial_value function with an example number (5) and print the result
print(factorial_value(5))

120